body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(39, 30%, 62%);
}

h1 {
    color: brown;
}

.main-body {
    background-color: rgb(0, 0, 0);
    text-align: right;
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

#result-final {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: right;
    border: 2px solid rgba(255, 255, 255, 0.233);
    max-width: 400px;
}

.calculator-box {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.calculator-box button {
    width: 100%;
    border-radius: 10%;
    background-color: hsl(0, 0%, 27%);
    color: ghostwhite;
    font-weight: bolder;
    font-size: 1.3rem;
    border: 2px solid rgba(255, 255, 255, 0.342);
    text-align: center;
    padding: 30px;
}

.calculator-box .button-orange {
    background-color: orange;
    border: 2px solid rgba(255, 255, 255, 0.342);
}

.calculator-box .button-gray {
    background-color: hsl(0, 0%, 55%);
    border: 2px solid rgba(255, 255, 255, 0.342);
}